.book-list {
    list-style: none;
    padding: 15px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.book-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr1bg);
}

.book-list img {
    padding: 25px;
    margin: auto;
    object-fit: cover;
}